<div id="shopping-cart-modal-body">
    <div class="modal-body">
        <div th:insert="~{fragments/shopping-cart/shopping-cart-table}"></div>
    </div>

    <div class="modal-footer">
        <div th:if="${not shoppingCart.bookList.isEmpty()}">
            <form class="checkout-form" th:action="@{/shopping-cart/validate-checkout}" method="post">
                <button type="submit" class="btn btn-success">Checkout</button>
            </form>
        </div>
        <button id="close-shopping-cart" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div>

<script th:src="@{/js/shopping-cart-body.js}"></script>