<div id="shopping-cart-modal-body">
    <div th:if="${shoppingCart.bookList.isEmpty()}">
        <p>No Books in Shopping Cart</p>
    </div>
    <div th:if="${not shoppingCart.bookList.isEmpty()}">
        <table>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Price</th>
            </tr>
            <tbody>
            <tr th:each="book: ${shoppingCart.bookList}">
                <td th:text="${book.ISBN}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.price}"></td>
                <td>
                    <div class="shopping-cart-remove-book" th:data-isbn="${book.ISBN}" >
                        <form th:action="@{/shopping-cart/edit/remove/{ISBN}(ISBN=${book.ISBN})}" method="post">
                            <button type="submit">Remove</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script th:src="@{/js/shopping-cart-body.js}"></script>