<div class="modal" tabindex="-1" id="shopping-cart-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Shopping Cart</h3>
            </div>
            <div class="modal-body">
                <div th:insert="~{fragments/shopping-cart/shopping-cart-body}"></div>
            </div>
            <div class="modal-footer">
                <form th:action="@{/shopping-cart/checkout}" method="post">
                    <button type="submit" class="btn btn-success">Checkout</button>
                </form>
                <button id="close-shopping-cart" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/shopping-cart.js}"></script>