<div th:fragment="book-form">
    <h3 th:text="|Add a Book:|"/>
    <form th:action="@{/add-book}" th:object="${book}" method="post" enctype="multipart/form-data">
        <label>ISBN: <input type="number" th:field="*{ISBN}" required/><br/>
            <div th:if="${#fields.hasErrors('ISBN')}" th:errors="*{ISBN}" style="color:red"></div>
            <div id="isbn-error" style="color:red; display:none;"></div>
        </label>
        <label>Title: <input type="text" th:field="*{title}" required/><br/>
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red"></div>
        </label>
        <label>Author: <input type="text" th:field="*{author}" required/><br/>
            <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color:red"></div>
        </label>
        <label>Publisher: <input type="text" th:field="*{publisher}" required/><br/>
            <div th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}" style="color:red"></div>
        </label>
        <label>Description: <input type="text" th:field="*{description}" min="0" required/><br/>
            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color:red"></div>
        </label>
        <label>Genre(s)</label>
        <div th:each="genre : ${genres}">
            <label>
                <input type="checkbox" th:field="*{genres}" th:value="${genre}">
                <span th:text="${genre}"></span>
            </label>
        </div>
        <label>Page Count:<input type="number" th:field="*{pageCount}" required/><br/>
            <div th:if="${#fields.hasErrors('pageCount')}" th:errors="*{pageCount}" style="color:red"></div>
        </label>
        <label>Inventory: <input type="number" th:field="*{inventory}" required/><br/>
            <div th:if="${#fields.hasErrors('inventory')}" th:errors="*{inventory}" style="color:red"></div>
        </label>
        <label>Price: <input type="number" th:field="*{price}" min="0" step="any" required/><br/>
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color:red"></div>
        </label>
        <label>Choose a Book Cover: <input type="file" name="pictureUpload" accept="image/jpeg" required/></br> </label>
        <button type="submit">Add Book</button>
    </form>

</div>

