<tr th:if="${bookList.isEmpty()}">
    <!-- Case 1: user searched -->
    <td colspan="100%" th:if="${searchQuery != null}">
        Sorry, no books were found matching "<span th:text="${searchQuery}"></span>".
    </td>

    <!-- Case 2:no books found-->
    <td colspan="100%" th:if="${searchQuery == null}">
        Sorry, no books found.
    </td>
</tr>
<tr th:if="${not bookList.isEmpty()}" th:each="book: ${bookList}">
    <td th:text="${book.ISBN}"></td>
    <td>
        <a th:href="@{'/book/' + ${book.ISBN}}" th:text="${book.title}"></a>
    </td>
    <td th:text="${book.author}"></td>
    <td th:text="${book.publisher}"></td>
    <td th:text="${book.description}"></td>
    <td>
        <span th:if="${book.inventory > 0}" th:text="${book.inventory}"></span>
        <span th:if="${book.inventory == 0}" style="color:red; font-weight:bold;">Out of Stock</span>
    </td>
    <td th:text="${book.price}"></td>
    <td th:text="${book.pageCount}"></td>
    <td>
        <!-- Edit Book Form -->
        <form th:action="@{edit-book/{ISBN}(ISBN=${book.ISBN})}" method="get">
            <button type="submit">Edit</button>
        </form>
        <!-- Delete Book Form -->
        <form th:action="@{/delete-book/{ISBN}(ISBN=${book.ISBN})}" method="post">
            <button type="submit">Delete</button>
        </form>
        <div class="purchase-button" th:data-isbn="${book.ISBN}" th:insert="~{fragments/shopping-cart/purchase-button}"></div>
    </td>
</tr>
<script th:src="@{/js/purchase-button.js}"></script>