<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div id="bookTableContainer" th:fragment="bookTable">
    <h3 th:text="|Book List|"></h3>
    <table>
        <thead>
            <tr>
            <th onclick="sortBy('ISBN')" data-sort="ISBN">ISBN</th>
            <th onclick="sortBy('title')" data-sort="title">Title</th>
            <th onclick="sortBy('author')" data-sort="author">Author</th>
            <th onclick="sortBy('publisher')" data-sort="publisher">Publisher</th>
            <th onclick="sortBy('description')" data-sort="description">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book: ${bookList}">
            <td th:text="${book.ISBN}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.description}"></td>
            <td th:text="${book.inventory}"></td>
            <td th:text="${book.price}"></td>
            <td>
                <!-- Edit Book Form -->
                <form th:action="@{edit-book/{ISBN}(ISBN=${book.ISBN})}" method="get">
                    <button type="submit">Edit</button>
                </form>
                <!-- Delete Book Form -->
                <form th:action="@{/delete-book/{ISBN}(ISBN=${book.ISBN})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>