<tbody>
    <tr th:if="${bookList.isEmpty()}">
        <!-- Case 1: user searched -->
        <td colspan="100%" th:if="${searchQuery != null}">
            Sorry, no books were found matching "<span th:text="${searchQuery}"></span>".
        </td>

        <!-- Case 2: single book not found -->
        <td colspan="100%" th:if="${searchQuery == null}">
            Sorry, the book you are looking for does not exist in our catalog.
        </td>
    </tr>

    <tr th:if="${not bookList.isEmpty()}" th:each="book: ${bookList}">
        <td th:text="${book.ISBN}"></td>
        <td>
            <a th:href="@{'/book/' + ${book.ISBN}}" th:text="${book.title}"></a>
        </td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.publisher}"></td>
        <td th:text="${book.description}"></td>
        <td th:text="${book.inventory}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.pageCount}"></td>
        <td>
            <!-- Edit Book Form -->
            <form th:action="@{edit-book/{ISBN}(ISBN=${book.ISBN})}" method="get">
                <button type="submit">Edit</button>
            </form>
            <!-- Delete Book Form -->
            <form th:action="@{/delete-book/{ISBN}(ISBN=${book.ISBN})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</tbody>