<link  th:href="@{/css/starRating.css}" rel="stylesheet">

<div class="border border-warning border-3 p-3">

    <div th:if="${session.currentUser != null }">
        <h2 class="m-0">Leave a Review</h2>
        <div th:fragment = "review">
            <form class="d-flex flex-column" th:action="@{'/book/' + ${book.ISBN} + '/review'}"  method="post">
                <div class="star-rating p-0">
                    <span class="star" data-value = "1">&#9733;</span>
                    <span class="star" data-value = "2">&#9733;</span>
                    <span class="star" data-value="3">&#9733;</span>
                    <span class="star" data-value="4">&#9733;</span>
                    <span class="star" data-value="5">&#9733;</span>
                </div>

                <input type="hidden" id="ratingValue" value="" name="reviewLevel">
                <textarea class="w-100" id="reviewArea" name="review" placeholder="Write Your Review Here"></textarea>

                <div class="py-2">
                    <input class="btn btn-warning" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
    <div th:if="${session.currentUser == null}">
        <h2 class="m-0">What do you think?</h2>
        <form th:action = "@{/register}" method="get">
            <button type="submit"  class="btn btn-primary btn-lg btn-reg" >Write a Review</button>
        </form>


    </div>
</div>

<div class="border border-warning border-3 p-3">
    <h2 class="m-0">Reviews</h2>

    <div class="star-rating-readonly-wrapper">
        <div class="star-rating-readonly" th:with="avg=${book.averageRating}">
            <!-- empty stars -->
            <div class="stars-empty">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <!-- filled stars -->
            <div class="stars-filled"
                 th:style="'width:' + (${avg} / 5.0 * 100) + '%'">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
        </div>

        <span class="avg-number" th:text="${book.averageRating}"></span>
    </div>

    <div th:if="${book.ratings.isEmpty()}">
        <p>No reviews yet. Be the first to leave one!</p>
    </div>
    <div th:each="rating : ${book.ratings}" class="review-item border-bottom py-2">
        <p>
            <strong th:text="${rating.user.username}">Username</strong>
            <span th:text="' - ' + ${rating.ratingValue} + '/5'"></span>
        </p>
        <p th:text="${rating.review}">Review text</p>

    </div>

<script th:src="@{/js/star-rating.js}"></script>