.book-form-row{
    display: flex;
    margin-bottom: 15px;
    text-align: left;
}
.purchase-btn{
    cursor: auto;
    transition: background-color 0.4s ease;
}
.purchase-btn:hover{
    background-color: #ffb5ab;
}
.purchase-btn:active{
    background-color: mistyrose;
}