body{
    background-color: #f4ecf2;
}
.view-buttons{
    padding: 10px 20px;
}
#blurb{
    font-weight: bold;
}
.browse{

    background-color: rgb(246, 208, 210);
    color: #352923;
    border-color: rgb(255, 224, 227);
    transition: ease-in-out 0.1s;
    box-shadow: 0 4px 12px rgba(188, 169, 169, 0.15);
}
.browse:hover{

    background-color: rgb(246, 221, 223);
    transform:scale(1.3);
    color:#352923;
    box-shadow: 0 4px 12px rgba(188, 169, 169, 0.15);
}
.home{
    text-align: center;
    background-color: #f7f4f8;
    color: #352923;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

}
.home h1 {
    font-size: 2.5rem;
    border-bottom: 2px solid #352923;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.scroll-container-wrapper{
    display: flex;
    padding: 20px 20px;
    border-radius: 20px;
    margin: 30px;
    width: 100%;
    background-color: #f7f4f8;
    flex-direction: column;
    box-shadow: 0 4px 8px rgb(251, 236, 238);
    justify-content: center;
}
.book-scroll{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #ffff;
    box-shadow: 0 4px 8px rgba(239, 239, 239, 0.1);


}

.book-scroll::-webkit-scrollbar-track {
    background-color: #d5a6d3;
}
.book-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d1d1d1;
    border: 1px solid #d1d1d1;
}
.book-card{
    width: 180px;
    scroll-snap-align: start;
    flex: 0 0 auto;

    border-radius: 15px;
    padding: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.scroll-title{
    display: block;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 20px;
}
.book-card:hover{
    transform: scale(1.2);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.book-card img{
    width: 100%;
    object-fit: cover;
}
.price{
    font-size: 16px;
    font-weight: bold;

    margin-top: 5px;
}