.search{
    background-color: darkslategrey;

}
.login{
    background-color: #a345ff;
    border-color: #a345ff;
}
.login:hover{
    background-color: #5f1fff;
    border-color: #5f1fff;
}
.cart-btn{
    background-color: #2c952c;
}