
.star-rating{
    display: inline-flex;
    cursor: pointer;
    padding: 10px 15px;
}

.star-rating .star {
    font-size: 50px;
    color: white;
    transition: color 0.2s ease-in-out;
}

.star.selected,
.star:hover{
    color: gold;
}

.star-rating .star.filled {
    color: gold;
}

#reviewArea{
    padding: 10px 15px;
    width: fit-content;
}