<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<script th:src="@{/js/bookTable.js}"></script>
<script th:src="@{/js/bookForm.js}"></script>

<head>
    <meta charset="UTF-8">
    <title>Online Bookstore</title>
</head>

<body>
    <div th:insert="~{fragments/navigation-bar}"></div>

    <div class="m-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Book List</li>
            </ol>
        </nav>

        <div class="d-flex flex-row justify-content-center">
            <div style="width:10%"></div>
            <div class="w-100">
                <h1>Book List</h1>

                <button id="open-add-book-modal" class="btn btn-warning my-2">Add New Book</button>

                <table class="table table-striped table-bordered w-100 text-center">
                    <thead class="table-dark">
                    <tr class="list-header">
                        <th onclick="sortBy('ISBN')" data-sort="ISBN">ISBN</th>
                        <th onclick="sortBy('title')" data-sort="title">Title</th>
                        <th onclick="sortBy('author')" data-sort="author">Author</th>
                        <th onclick="sortBy('publisher')" data-sort="publisher">Publisher</th>
                        <th onclick="sortBy('description')" data-sort="description">Description</th>
                        <th onclick="sortBy('inventory')" data-sort="inventory">Inventory</th>
                        <th onclick="sortBy('price')" data-sort="price">Price</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="book-table" th:insert="~{fragments/book-table}"></tbody>
                </table>
            </div>
            <div style="width:10%"></div>
        </div>
    </div>
    <br>

    <div th:insert="~{fragments/book-form/add-book-modal}"></div>
    <th:block th:with="bookRepository=${@bookRepository}">
    <div class="m-3" th:if="${session.recentlyViewed != null}">
        <h4>Recently Viewed</h4>
        <ul>
            <li th:each="id : ${session.recentlyViewed}">
                <a th:href="@{'/book/' + ${id}}"
                   th:text="${@bookRepository.findByISBN(id).title}"></a>
            </li>
        </ul>
    </div>
    </th:block>

</body>
</html>