<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Bookstore Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!-- Book Search Bar -->
<form th:action="@{/get-book-list}" method="get">
    <label>
        <input hidden name="function" value="search">
    </label>
    <label>
        <input type="text" name="variable" >
    </label>
    <button type="submit">Search</button>
</form>

<br>
<br>

<table>
    <thead>
    <tr>
        <th onclick="sortBy('ISBN')" data-sort="ISBN">ISBN</th>
        <th onclick="sortBy('title')" data-sort="title">Title</th>
        <th onclick="sortBy('author')" data-sort="author">Author</th>
        <th onclick="sortBy('publisher')" data-sort="publisher">Publisher</th>
        <th onclick="sortBy('description')" data-sort="description">Description</th>
        <th onclick="sortBy('inventory')" data-sort="inventory">Inventory</th>
        <th onclick="sortBy('price')" data-sort="price">Price</th>
    </tr>
    </thead>
    <tbody id="bookTableContainer" th:replace="~{fragments/book-table}"></tbody>
</table>

<br>

<!-- Add Book Form -->
<h3 th:text="|Add a Book:|"/>
<form th:action="@{/add-book}" th:object="${book}" method="post">
    <label>ISBN: <input type="text" th:field="*{ISBN}" /><br/></label>
    <label>Title: <input type="text" th:field="*{title}" /><br/></label>
    <label>Author: <input type="text" th:field="*{author}" /><br/></label>
    <label>Publisher: <input type="text" th:field="*{publisher}" /><br/></label>
    <label>Description: <input type="text" th:field="*{description}" /><br/></label>
    <label>Inventory: <input type="text" th:field="*{inventory}" /><br/></label>
    <label>Price: <input type="text" th:field="*{price}" /><br/></label>
    <button type="submit">Add Book</button>
</form>
<script th:src="@{/js/bookTable.js}"></script>
</body>
</html>