<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script th:src="@{/js/purchase-button.js}"></script>

<head>
    <title th:text="'Book Details - ' + ${book.title}">Book Details</title>
    <link th:href="@{/css/bookPage}" rel="stylesheet" />
</head>

<body>
    <div th:insert="~{fragments/navigation-bar}"></div>

    <div class="m-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/get-browse-view}">Browse Books</a></li>
                <li class="breadcrumb-item active" aria-current="page">Book</li>
            </ol>
        </nav>

        <div class="d-flex flex-row justify-content-center">
            <div style="width:15%"></div> <!--Padding-->
            <div  class="w-100">
                <div class="d-flex flex-row">
                    <div class="w-50 p-4">
                        <img class="mx-auto" style="display:block; width:80%" th:src = "@{'/book-image/' + ${book.ISBN}}" th:alt="${book.title}">
                    </div>
                    <div class="w-50 p-3">
                        <h1 th:text="${book.title}">Book Title</h1>
                        <br>
                        <p><strong>Author:</strong> <span th:text="${book.author}"></span></p>
                        <p><strong>Publisher:</strong> <span th:text="${book.publisher}"></span></p>
                        <p><strong>Genre(s): </strong><span th:each="g, iterStat : ${book.genres}" th:text="${iterStat.last} ? ${g} : ${g + ', '}"></span> </p>
                        <p><strong>Series: </strong><span th:text="${book.series != null ? book.series.seriesName : 'Not in a Series'}" ></span></p>
                        <br>
                        <div>
                            <div class="d-flex flex-row">
                                <p class="col p-0"><strong>Price:</strong> <span th:text="'$'+${book.price}"></span></p>
                                <p class="col p-0"><strong>Inventory:</strong> <span th:text="${book.inventory}"></span></p>
                                <div class="col p-0"></div>
                            </div>
                            <div>
                                <form class="purchase-button"  th:data-isbn="${book.ISBN}" th:action="@{/shopping-cart/edit/add/{ISBN}(ISBN=${book.ISBN})}" method="post">
                                    <button th:class="${book.inventory == 0} ? 'purchase-btn p-0 w-100 btn btn-danger' : 'purchase-btn  p-0 w-100 btn btn-warning'" type="submit" th:disabled="${book.inventory == 0 or book.deleted}"
                                            th:text="${book.inventory == 0} ? 'Out of Stock' : 'Add to Cart'"></button>
                                </form>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="p-3">
                    <h2>About</h2>
                    <br>
                    <p><strong>ISBN:</strong> <span th:text="${book.ISBN}"></span></p>
                    <p><strong>Page Count: </strong><span th:text="${book.pageCount}"></span></p>
                    <p><strong>Description: </strong> <span th:text="${book.description}"></span></p>
                    <p><strong>Cover Type: </strong><span th:text="${book.bookType}"></span></p>
                </div>
                <div th:disabled="${book.deleted}">
                    <div class="review-button" th:data-isbn="${book.ISBN}" th:replace="~{fragments/review}"></div>
                </div>
            </div>
            <div style="width:15%"></div><!--Padding-->
        </div>
    </div>
</body>
</html>
