<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<head>
    <title>Not Just Any Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/home.css}" rel="stylesheet" />
</head>

<body>
    <div th:insert="~{fragments/navigation-bar}"></div>

    <div class="m-3">
        <div class="d-flex flex-row justify-content-center text-center">
            <div style="width:10%"></div>
            <div class="w-100 d-flex flex-column justify-content-center m-5 p-5">

                <h1 th:text="|Not Just Any Bookstore|" />
                <div class ="container rounded home">
                    <h3>Welcome to the Ultimate Book Shopping Experience!</h3>
                    <p>Find Your Next Read</p>
                </div>

                <p>Welcome to the Not Just Any Bookstore</p>

                <br>
                <br>

                <div class="view-buttons" th:if="${session.currentUser != null and session.currentUser.isOwner}">
                    <a class="btn btn-primary " th:href="@{/get-book-list}" th:text="|Owner View|"/>
                </div>
                <div style="width:10%"></div>
                <div class="view-buttons">
                    <a class="btn btn-primary " th:href="@{/get-browse-view}" th:text="|Browse Books|"/>
                </div>
            </div>
            <div style="width:10%"></div>
        </div>
    </div>
</body>
</html>