<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Browse Books</title>
    <link th:href="@{/css/browse.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/images/icon/favicon.ico}" />
</head>
<body>

<div th:insert="~{fragments/navigation-bar}"></div>
    <div class="m-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Browse Books</li>
            </ol>
        </nav>

        <h2>Browse for Your Next Read</h2>
        <div th:if="${searchQuery != null}">
            <div th:insert="~{fragments/search-return}"></div>
        </div>

        <div class="container">
            <div id="wishlist-alert"></div>
            <div class ="row">
                <div class="col-md-3 p-3" th:if="${not bookList.isEmpty()}" th:each="book: ${bookList}">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <a th:href="@{'/book/' + ${book.ISBN}}">
                                    <img class="mx-auto w-100 p-4" style="display:block;" th:src = "@{'/book-image/' + ${book.ISBN}}" th:alt="${book.title}">
                                </a>

                            </div>
                            <p><strong><a class="text-wrap" th:href="@{'/book/' + ${book.ISBN}}" th:text="${book.title}"></a></strong></p>
                            <p id ="description-wrap"><span th:text="${book.description}"></span></p>
                            <div id="purchase-price">
                                <div>
                                    <p><strong>Price: $<span th:text="${book.price}"></span></strong></p>
                                </div>
                                <div class="d-flex">
                                    <form class="wishlist-button mx-1" th:data-isbn="${book.ISBN}" th:action="@{/wishlist/edit/add/{ISBN}(ISBN=${book.ISBN})}" method="post">
                                        <button class="wishlist-btn  px-3 py-2 w-100 btn btn-primary" type="submit">
                                            <i class="bi bi-bookmark-check main-icon"></i>
                                            <i class="bi bi-bookmark-check-fill hover-icon" ></i>
                                        </button>
                                    </form>
                                    <form class="purchase-button" th:data-isbn="${book.ISBN}" th:action="@{/shopping-cart/edit/add/{ISBN}(ISBN=${book.ISBN})}" method="post">
                                        <button th:class="${book.inventory == 0} ? 'purchase-btn px-3 py-2 w-100 btn btn-danger' : 'purchase-btn  px-3 py-2 w-100 btn btn-warning'"  type="submit"
                                                th:disabled="${book.inventory == 0 or book.deleted}"
                                                onclick="toggleCart(this)">
                                            <span class="cart-icons" th:if="${book.inventory > 0 and !book.deleted}">
                                                <i class="bi bi-cart-plus main-icon"  ></i>
                                            <i class="bi bi-cart-plus-fill hover-icon"  ></i>
                                            </span>
                                            <span th:if="${book.inventory == 0 or book.deleted}">
                                              <i class="bi bi-cart-x"  ></i>
                                            </span>


                                        </button>
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div clas="pages">
            <div class="d-flex justify-content-center mt-3 page-browse">
                <a th:href="@{/get-browse-view(page=${currentPage -1})}"
                   th:classappend="${currentPage == 1}? 'disabled'" class="btn btn-outline-primary me-2">
                    Previous
                </a>
                <div>
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:href="@{/get-browse-view(page=${i})}" th:text="${i}" th:class="'btn btn-outline-primary mx-1' + (${currentPage == i} ? 'active':'')">

                    </a>
                </span>
                </div>
                <a th:href="@{/get-browse-view(page=${currentPage +1})}"
                   th:classappend="${currentPage == totalPages}? 'disabled'"  class="btn btn-outline-primary ms-2">Next</a>
            </div>
            <div class="pagenumber text-center mt-2">
            <span class="btn btn-outline-secondary disabled">Page
                <span  th:text="${currentPage != 0}? ${currentPage} : '0'">
                    of
                <span th:text="${totalPages != 0} ? ${totalPages} : ''">

            </span>
            </span>
            </span>
            </div>
        </div>


    </div>

</body>
<script th:src="@{/js/userBrowse.js}"></script>
<script th:src="@{/js/purchase-button.js}"></script>
</html>
