<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<head>
    <title>Wishlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:insert="~{fragments/navigation-bar}"></div>

    <div class="m-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/static">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/get-browse-view}">Browse Books</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
            </ol>
        </nav>

        <div class="d-flex flex-row justify-content-center">
            <div style="width:20%"></div>
            <div class="container-lg m-4 p-1 d-flex flex-column justify-content-center align-items-center">
                <h3>Wishlist</h3>

                <div class="w-100 m-3">
                    <div th:if="${not wishlist.isEmpty()}">
                        <div th:insert="~{fragments/wishlist-body}"></div>
                    </div>
                </div>
            </div>
            <div style="width:20%"></div>
        </div>
    </div>
</body>
</html>